@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    @*<h4>@Html.DisplayFor(model=> model.Name)</h4>*@
    @*<hr />*@
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <br />
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>*@
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
